
---
Name: dashboard_welcome_quicklinks_custom
After:
  - '#dashboard_welcome_quicklinks'
---
SilverStripe\Admin\AdminRootController:
  default_panel: Sunnysideup\DashboardWelcomeQuicklinks\Admin\DashboardWelcomeQuicklinks

Sunnysideup\DashboardWelcomeQuicklinks\Admin\DashboardWelcomeQuicklinks:
  use_default_dashboard_provider: false
  # make sure to use quotes with colours because of #
  colour_options:
    - '#223344'
    - '#883344'
    - '#773344'


Sunnysideup\DashboardWelcomeQuicklinks\Api\DefaultDashboardProvider:
  model_admins_to_skip:
    - MyModelAdminToSkip
  pages_to_skip:
    - MyPageToSkip
